# -*-muttrc-*-
#
# Command formats for gpg.
#
# $Id$
#

# decode application/pgp
set pgp_decode_command="gpg %?p?--passphrase-fd 0? --no-verbose --batch -o - --decrypt %f"

# verify a pgp/mime signature
set pgp_verify_command="gpg --no-verbose --batch -o - --verify %s %f"

# decrypt a pgp/mime attachment
set pgp_decrypt_command="gpg --passphrase-fd 0 --no-verbose --batch -o - --decrypt %f"

# create a pgp/mime signed attachment
set pgp_sign_command="gpg --no-verbose --batch -o - --passphrase-fd 0 --detach-sign --textmode --armor %?a?-u %a? %f"

# create a pgp/mime encrypted attachment
set pgp_encrypt_only_command="pgpewrap gpg --no-verbose -v --batch -o - --encrypt --textmode --armor --always-trust -- -r %r

# create a pgp/mime encrypted and signed attachment
set pgp_encrypt_sign_command="pgpewrap gpg --passphrase-fd 0 --no-verbose -v --batch -o - --encrypt --sign %?a?-u %a? --textmode --armor --always-trust -- -r %r

# import a key into the public key ring
set pgp_import_command="gpgm --no-verbose --import -v %f"

# export a key from the public key ring
set pgp_export_command="gpgm --no-verbose --export --armor %r"

# verify a key
set pgp_verify_key_command="gpgm --no-verbose --batch --fingerprint --check-sigs 

# read in the public key ring
set pgp_list_pubring_command="gpgm --no-verbose --batch --with-colons --list-keys %r" 

# read in the secret key ring
set pgp_list_secring_command="gpgm --no-verbose --batch --with-colons --list-secret-keys %r" 

