# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf8
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = 2

[ChangeLog.neomutt]
indent_style = space
indent_size = 1


[configure]
indent_size = 2
indent_style = space

