root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf8
trim_trailing_whitespace = false

# those two settings may be overwritten below.
indent_size = 2
indent_style = space



[ChangeLog.neomutt]
indent_size = 1


[{[mM]akefile*,*.am}]
indent_size = 4
indent_style = tab
