# Autosetup
.clang_complete
autosetup/jimsh0
config.log
conftest__
conftest__.c
Makefile

# Binaries
doc/makedoc
neomutt
pgpewrap
test/address-test
test/base64-test
test/buffer-test
test/charset-test
test/config-test
test/date-test
test/envlist-test
test/file-test
test/group-test
test/hash-test
test/history-test
test/idna-test
test/list-test
test/neomutt-test
test/path-test
test/pattern-test
test/string-test

# Build products
*.o
*.gc??
*.Po
*.Tpo
html
lcov
lcov.info
lib*.a
po/*.mo
po/neomutt.pot

# Docs
doc/*.html
doc/manual.txt
doc/manual.xml
doc/neomutt.1
doc/neomuttrc
doc/neomuttrc.5

# Generated source
config.h
conststrings.c
git_ver.c
hcache/hcversion.h

# Misc
*.tmp
*~
tags

