# Autosetup
.clang_complete
autosetup/jimsh0
config.log
conftest__
conftest__.c
Makefile

# Binaries
doc/makedoc
neomutt
pgpewrap
test/config-test
test/neomutt-test

# Build products
*.o
*.Po
*.Tpo
html
lib*.a
po/*.mo
po/neomutt.pot

# Docs
doc/*.html
doc/manual.txt
doc/manual.xml
doc/neomutt.1
doc/neomuttrc
doc/neomuttrc.5

# Generated source
config.h
conststrings.c
git_ver.h
hcache/hcversion.h

# Misc
*.tmp
*~
tags

# Doxygen extras
html
doxygen-build.txt
*.inc
tmp.txt
