# Tip for finding duplicates (besides scanning the output of AUTHORS for name
# duplicates that aren't also email duplicates): scan the output of:
#   git log --format='%aE - %aN' | sort -uf
#
# For explanation on this file format: man git-shortlog

Bernard Pratz <guyzmo+github+pub@m0g.net>               <guyzmo+github+pub@m0g.net>
Chris Czettel <chris@christopher-czettel.net>           <chris@christopher-czettel.net>
Damien Riegel <damien.riegel@gmail.com>                 <d-k-c@users.noreply.github.com>
Damien Riegel <damien.riegel@gmail.com>                 <damien.riegel@savoirfairelinux.com>
Darshit Shah <darnir@gmail.com>                         <darnir@users.noreply.github.com>
David Champion <dgc@bikeshed.us>                        <dgc@uchicago.edu>
Guillaume Brogi <gui-gui@netcourrier.com>               <gui-gui@netcourrier.com>
Ian Zimmerman <itz@primate.net>                         <nobrowser@users.noreply.github.com>
Joshua Jordi <dracogoyle@gmail.com>                     <jakkinstewart@users.noreply.github.com>
Mehdi Abaakouk <sileht@sileht.net>                      <sileht@sileht.net>
Morten Bo Johansen <morten.bo.johansen@gmail.com>       <mjb@spamcop.net>
Pierre-Elliott Bécue <becue@crans.org>                  <p-eb@users.noreply.github.com>
Riad Wahby <kwantam@gmail.com>                          <kwantam@gmail.com>
Rich Burridge <rich.burridge@oracle.com>                <rich.burridge@oracle.com>
Somini <somini29@yandex.com>                            <somini29@yandex.com>
Steven Ragnarök <steven@nuclearsandwich.com>            <steven@nuclearsandwich.com>
Tamotsu Takahashi <ttakah@lapis.plala.or.jp>            <ttakah@lapis.plala.or.jp>
Tobias Angele <toogley@mailbox.org>                     <toogley@mailbox.org>
Wieland Hoffmann <themineo@gmail.com>                   <mineo@users.noreply.github.com>

