notifications:
  email: false

dist: xenial

language: c
compiler: gcc

addons:
  apt:
    packages:
      - gettext

git:
  depth: 3

env:
  global:
  - DEPLOY_REPO="git@github.com:neomutt/neomutt.github.io.git"
  - DEPLOY_DIR="~/website"
  - DEPLOY_FILE="translate.html"

script:
- .travis/stats.sh

after_success:
- .travis/deploy.sh
