iconv-hook CP1046 IBM-1046
iconv-hook CP850 IBM-850
iconv-hook CP856 IBM-856
iconv-hook CP932 IBM-932
iconv-hook EUC-CN IBM-eucCN
iconv-hook EUC-JP IBM-eucJP
iconv-hook EUC-KR IBM-eucKR
iconv-hook EUC-TW IBM-eucTW
iconv-hook ISO-8859-1 ISO8859-1
iconv-hook ISO-8859-2 ISO8859-2
iconv-hook ISO-8859-5 ISO8859-5
iconv-hook ISO-8859-6 ISO8859-6
iconv-hook ISO-8859-8 ISO8859-8
