iconv-hook BIG5 big5
iconv-hook CP1046 IBM-1046
iconv-hook CP1124 IBM-1124
iconv-hook CP1129 IBM-1129
iconv-hook CP1252 IBM-1252
iconv-hook CP850 IBM-850
iconv-hook CP856 IBM-856
iconv-hook CP922 IBM-922
iconv-hook CP932 IBM-932
iconv-hook CP943 IBM-943
iconv-hook EUC-CN IBM-eucCN
iconv-hook EUC-JP IBM-eucJP
iconv-hook EUC-KR IBM-eucKR
iconv-hook EUC-TW IBM-eucTW
iconv-hook ISO-8859-13 IBM-921
iconv-hook ISO-8859-15 ISO8859-15
iconv-hook ISO-8859-1 ISO8859-1
iconv-hook ISO-8859-2 ISO8859-2
iconv-hook ISO-8859-5 ISO8859-5
iconv-hook ISO-8859-6 ISO8859-6
iconv-hook ISO-8859-7 ISO8859-7
iconv-hook ISO-8859-8 ISO8859-8
iconv-hook ISO-8859-9 ISO8859-9
