bind $my_menu B_0001 bounce-message
bind $my_menu B_0002 check-traditional-pgp
bind $my_menu B_0003 collapse-parts
bind $my_menu B_0004 compose-to-sender
bind $my_menu B_0005 delete-entry
bind $my_menu B_0006 display-toggle-weed
bind $my_menu B_0007 edit-type
bind $my_menu B_0008 extract-keys
bind $my_menu B_0009 followup-message
bind $my_menu B_0010 forward-message
bind $my_menu B_0011 forward-to-group
bind $my_menu B_0012 group-chat-reply
bind $my_menu B_0013 group-reply
bind $my_menu B_0014 list-reply
bind $my_menu B_0015 list-subscribe
bind $my_menu B_0016 list-unsubscribe
bind $my_menu B_0017 pipe-entry
bind $my_menu B_0018 pipe-message
bind $my_menu B_0019 print-entry
bind $my_menu B_0020 reply
bind $my_menu B_0021 resend-message
bind $my_menu B_0022 save-entry
bind $my_menu B_0023 undelete-entry
bind $my_menu B_0024 view-attach
bind $my_menu B_0025 view-mailcap
bind $my_menu B_0026 view-pager
bind $my_menu B_0027 view-text

# vim: ft=neomuttrc
