bind $my_menu E_0001 attach-file
bind $my_menu E_0002 attach-key
bind $my_menu E_0003 attach-message
bind $my_menu E_0004 attach-news-message
bind $my_menu E_0005 autocrypt-menu
bind $my_menu E_0006 copy-file
bind $my_menu E_0007 detach-file
bind $my_menu E_0008 display-toggle-weed
bind $my_menu E_0009 edit-bcc
bind $my_menu E_0010 edit-cc
bind $my_menu E_0011 edit-content-id
bind $my_menu E_0012 edit-description
bind $my_menu E_0013 edit-encoding
bind $my_menu E_0014 edit-fcc
bind $my_menu E_0015 edit-file
bind $my_menu E_0016 edit-followup-to
bind $my_menu E_0017 edit-from
bind $my_menu E_0018 edit-headers
bind $my_menu E_0019 edit-language
bind $my_menu E_0020 edit-message
bind $my_menu E_0021 edit-mime
bind $my_menu E_0022 edit-newsgroups
bind $my_menu E_0023 edit-reply-to
bind $my_menu E_0024 edit-subject
bind $my_menu E_0025 edit-to
bind $my_menu E_0026 edit-type
bind $my_menu E_0027 edit-x-comment-to
bind $my_menu E_0028 filter-entry
bind $my_menu E_0029 get-attachment
bind $my_menu E_0030 group-alternatives
bind $my_menu E_0031 group-multilingual
bind $my_menu E_0032 group-related
bind $my_menu E_0033 ispell
bind $my_menu E_0034 move-down
bind $my_menu E_0035 move-up
bind $my_menu E_0036 new-mime
bind $my_menu E_0037 pgp-menu
bind $my_menu E_0038 pipe-entry
bind $my_menu E_0039 pipe-message
bind $my_menu E_0040 postpone-message
bind $my_menu E_0041 preview-scroll-half-down
bind $my_menu E_0042 preview-scroll-half-up
bind $my_menu E_0043 preview-scroll-line-down
bind $my_menu E_0044 preview-scroll-line-up
bind $my_menu E_0045 preview-scroll-page-down
bind $my_menu E_0046 preview-scroll-page-up
bind $my_menu E_0047 print-entry
bind $my_menu E_0048 rename-attachment
bind $my_menu E_0049 rename-file
bind $my_menu E_0050 send-message
bind $my_menu E_0051 smime-menu
bind $my_menu E_0052 toggle-disposition
bind $my_menu E_0053 toggle-recode
bind $my_menu E_0054 toggle-unlink
bind $my_menu E_0055 ungroup-attachment
bind $my_menu E_0056 update-encoding
bind $my_menu E_0057 view-attach
bind $my_menu E_0058 view-mailcap
bind $my_menu E_0059 view-pager
bind $my_menu E_0060 view-text
bind $my_menu E_0061 write-fcc

# vim: ft=neomuttrc
