bind $my_menu F_0001 backspace
bind $my_menu F_0002 backward-char
bind $my_menu F_0003 backward-word
bind $my_menu F_0004 bol
bind $my_menu F_0005 capitalize-word
bind $my_menu F_0006 complete
bind $my_menu F_0007 complete-query
bind $my_menu F_0008 delete-char
bind $my_menu F_0009 downcase-word
bind $my_menu F_0010 eol
bind $my_menu F_0011 forward-char
bind $my_menu F_0012 forward-word
bind $my_menu F_0013 help
bind $my_menu F_0014 history-down
bind $my_menu F_0015 history-search
bind $my_menu F_0016 history-up
bind $my_menu F_0017 kill-eol
bind $my_menu F_0018 kill-eow
bind $my_menu F_0019 kill-line
bind $my_menu F_0020 kill-whole-line
bind $my_menu F_0021 kill-word
bind $my_menu F_0022 mailbox-cycle
bind $my_menu F_0023 quote-char
bind $my_menu F_0024 redraw-screen
bind $my_menu F_0025 transpose-chars
bind $my_menu F_0026 upcase-word

# vim: ft=neomuttrc
