bind $my_menu D_0001 change-dir
bind $my_menu D_0002 create-mailbox
bind $my_menu D_0003 delete-mailbox
bind $my_menu D_0004 descend-directory
bind $my_menu D_0005 display-file
bind $my_menu D_0006 display-filename
bind $my_menu D_0007 goto-folder
bind $my_menu D_0008 goto-home
bind $my_menu D_0009 goto-parent
bind $my_menu D_0010 goto-root
bind $my_menu D_0011 limit
bind $my_menu D_0012 nntp-mark-newsgroup-read
bind $my_menu D_0013 reload-active
bind $my_menu D_0014 rename-mailbox
bind $my_menu D_0015 select-new
bind $my_menu D_0016 show-mailboxes
bind $my_menu D_0017 subscribe
bind $my_menu D_0018 subscribe-pattern
bind $my_menu D_0019 toggle-mailboxes
bind $my_menu D_0020 toggle-subscribed
bind $my_menu D_0021 uncatchup
bind $my_menu D_0022 unsubscribe
bind $my_menu D_0023 unsubscribe-pattern

# vim: ft=neomuttrc
