bind $my_menu E_0001 attach-file
bind $my_menu E_0002 attach-message
bind $my_menu E_0003 attach-new-mime
bind $my_menu E_0004 attach-news-message
bind $my_menu E_0005 attach-pgp-key
bind $my_menu E_0006 check-spelling
bind $my_menu E_0007 detach-file
bind $my_menu E_0008 display-attachment-default
bind $my_menu E_0009 display-attachment-mailcap
bind $my_menu E_0010 display-attachment-pager
bind $my_menu E_0011 display-attachment-text
bind $my_menu E_0012 display-message-headers
bind $my_menu E_0013 edit-attachment-name
bind $my_menu E_0014 edit-bcc
bind $my_menu E_0015 edit-cc
bind $my_menu E_0016 edit-content-id
bind $my_menu E_0017 edit-content-type
bind $my_menu E_0018 edit-description
bind $my_menu E_0019 edit-encoding
bind $my_menu E_0020 edit-fcc
bind $my_menu E_0021 edit-file
bind $my_menu E_0022 edit-followup-to
bind $my_menu E_0023 edit-from
bind $my_menu E_0024 edit-headers
bind $my_menu E_0025 edit-language
bind $my_menu E_0026 edit-message
bind $my_menu E_0027 edit-mime
bind $my_menu E_0028 edit-newsgroups
bind $my_menu E_0029 edit-reply-to
bind $my_menu E_0030 edit-subject
bind $my_menu E_0031 edit-to
bind $my_menu E_0032 edit-x-comment-to
bind $my_menu E_0033 filter-attachment
bind $my_menu E_0034 get-attachment
bind $my_menu E_0035 group-alternatives
bind $my_menu E_0036 group-multilingual
bind $my_menu E_0037 group-related
bind $my_menu E_0038 move-attachment-down
bind $my_menu E_0039 move-attachment-up
bind $my_menu E_0040 postpone-message
bind $my_menu E_0041 preview-scroll-end
bind $my_menu E_0042 preview-scroll-half-down
bind $my_menu E_0043 preview-scroll-half-up
bind $my_menu E_0044 preview-scroll-home
bind $my_menu E_0045 preview-scroll-line-down
bind $my_menu E_0046 preview-scroll-line-up
bind $my_menu E_0047 preview-scroll-page-down
bind $my_menu E_0048 preview-scroll-page-up
bind $my_menu E_0049 rename-file-on-disk
bind $my_menu E_0050 save-attachment
bind $my_menu E_0051 save-message-copy
bind $my_menu E_0052 send-message
bind $my_menu E_0053 toggle-disposition
bind $my_menu E_0054 toggle-recode
bind $my_menu E_0055 toggle-unlink
bind $my_menu E_0056 ungroup-attachments
bind $my_menu E_0057 update-encoding
bind $my_menu E_0058 view-pgp-options
bind $my_menu E_0059 view-smime-options
bind $my_menu E_0060 view-autocrypt-options

# vim: ft=neomuttrc
