bind $my_menu F_0001 backspace
bind $my_menu F_0002 backward-char
bind $my_menu F_0003 backward-word
bind $my_menu F_0004 bol
bind $my_menu F_0005 capitalize-word
bind $my_menu F_0006 complete
bind $my_menu F_0007 complete-mailbox
bind $my_menu F_0008 complete-query
bind $my_menu F_0009 delete-char
bind $my_menu F_0010 display-help
bind $my_menu F_0011 downcase-word
bind $my_menu F_0012 eol
bind $my_menu F_0013 forward-char
bind $my_menu F_0014 forward-word
bind $my_menu F_0015 history-search
bind $my_menu F_0016 history-select-next-entry
bind $my_menu F_0017 history-select-previous-entry
bind $my_menu F_0018 kill-eol
bind $my_menu F_0019 kill-eow
bind $my_menu F_0020 kill-line
bind $my_menu F_0021 kill-whole-line
bind $my_menu F_0022 kill-word
bind $my_menu F_0023 quote-char
bind $my_menu F_0024 redraw-screen
bind $my_menu F_0025 transpose-chars
bind $my_menu F_0026 upcase-word

# vim: ft=neomuttrc
