bind $my_menu G_0001 activate-entry
bind $my_menu G_0002 apply-to-tagged
bind $my_menu G_0003 apply-to-tagged-begin
bind $my_menu G_0004 apply-to-tagged-end
bind $my_menu G_0005 check-stats
bind $my_menu G_0006 display-help
bind $my_menu G_0007 display-log
bind $my_menu G_0008 exit
bind $my_menu G_0009 fold-all-trees
bind $my_menu G_0010 fold-tree
bind $my_menu G_0011 forget-passphrase
bind $my_menu G_0012 limit-entries
bind $my_menu G_0013 pipe-entry
bind $my_menu G_0014 print-entry
bind $my_menu G_0015 quit
bind $my_menu G_0016 redraw-screen
bind $my_menu G_0017 run-command
bind $my_menu G_0018 run-shell-command
bind $my_menu G_0019 scroll-end
bind $my_menu G_0020 scroll-half-down
bind $my_menu G_0021 scroll-half-up
bind $my_menu G_0022 scroll-home
bind $my_menu G_0023 scroll-line-down
bind $my_menu G_0024 scroll-line-up
bind $my_menu G_0025 scroll-page-down
bind $my_menu G_0026 scroll-page-up
bind $my_menu G_0027 scroll-selection-to-bottom
bind $my_menu G_0028 scroll-selection-to-middle
bind $my_menu G_0029 scroll-selection-to-top
bind $my_menu G_0030 search-backward
bind $my_menu G_0031 search-forward
bind $my_menu G_0032 search-next
bind $my_menu G_0033 search-previous
bind $my_menu G_0034 select-entry-by-number
bind $my_menu G_0035 select-first-entry
bind $my_menu G_0036 select-last-entry
bind $my_menu G_0037 select-next-entry
bind $my_menu G_0038 select-next-subtree
bind $my_menu G_0039 select-next-tree
bind $my_menu G_0040 select-page-bottom
bind $my_menu G_0041 select-page-middle
bind $my_menu G_0042 select-page-top
bind $my_menu G_0043 select-previous-entry
bind $my_menu G_0044 select-previous-subtree
bind $my_menu G_0045 select-previous-tree
bind $my_menu G_0046 select-tree-parent-entry
bind $my_menu G_0047 select-tree-root-entry
bind $my_menu G_0048 show-limit
bind $my_menu G_0049 show-version
bind $my_menu G_0050 sort-entries
bind $my_menu G_0051 sort-entries-reverse
bind $my_menu G_0052 tag-pattern
bind $my_menu G_0053 toggle-all-trees
bind $my_menu G_0054 toggle-tag
bind $my_menu G_0055 toggle-tag-subtree
bind $my_menu G_0056 toggle-tag-tree
bind $my_menu G_0057 toggle-tree
bind $my_menu G_0058 unfold-all-trees
bind $my_menu G_0059 unfold-tree
bind $my_menu G_0060 untag-pattern
bind $my_menu G_0061 view-keycodes

# vim: ft=neomuttrc
