bind $my_menu H_0001 bounce-message
bind $my_menu H_0002 break-thread
bind $my_menu H_0003 browse-mailboxes
bind $my_menu H_0004 browse-mailboxes-readonly
bind $my_menu H_0005 change-folder
bind $my_menu H_0006 change-folder-readonly
bind $my_menu H_0007 change-newsgroup
bind $my_menu H_0008 change-newsgroup-readonly
bind $my_menu H_0009 check-traditional-pgp
bind $my_menu H_0010 compose-message
bind $my_menu H_0011 compose-to-sender
bind $my_menu H_0012 copy-message
bind $my_menu H_0013 copy-message-decoded
bind $my_menu H_0014 copy-message-decrypted
bind $my_menu H_0015 create-alias
bind $my_menu H_0016 create-message-hotkey
bind $my_menu H_0017 delete-message
bind $my_menu H_0018 delete-pattern
bind $my_menu H_0019 delete-subthread
bind $my_menu H_0020 delete-thread
bind $my_menu H_0021 display-message
bind $my_menu H_0022 display-message-headers
bind $my_menu H_0023 edit-content-type
bind $my_menu H_0024 edit-raw-message
bind $my_menu H_0025 edit-raw-message-readonly
bind $my_menu H_0026 edit-tags
bind $my_menu H_0027 edit-tags-then-hide
bind $my_menu H_0028 edit-x-label
bind $my_menu H_0029 extract-keys
bind $my_menu H_0030 fetch-entire-thread
bind $my_menu H_0031 forward-message
bind $my_menu H_0032 imap-fetch-mail
bind $my_menu H_0033 imap-logout-all
bind $my_menu H_0034 limit-thread
bind $my_menu H_0035 link-threads
bind $my_menu H_0036 list-reply
bind $my_menu H_0037 list-subscribe
bind $my_menu H_0038 list-unsubscribe
bind $my_menu H_0039 mark-subthread-read
bind $my_menu H_0040 mark-thread-read
bind $my_menu H_0041 move-message
bind $my_menu H_0042 move-message-decoded
bind $my_menu H_0043 move-message-decrypted
bind $my_menu H_0044 nntp-followup-message
bind $my_menu H_0045 nntp-forward-to-group
bind $my_menu H_0046 nntp-get-children
bind $my_menu H_0047 nntp-get-message
bind $my_menu H_0048 nntp-get-parent
bind $my_menu H_0049 nntp-mark-newsgroup-read
bind $my_menu H_0050 nntp-post-message
bind $my_menu H_0051 nntp-reconstruct-thread
bind $my_menu H_0052 pop-fetch-mail
bind $my_menu H_0053 purge-message
bind $my_menu H_0054 purge-thread
bind $my_menu H_0055 quasi-delete-message
bind $my_menu H_0056 recall-draft-message
bind $my_menu H_0057 reply-all
bind $my_menu H_0058 reply-group-chat
bind $my_menu H_0059 reply-sender
bind $my_menu H_0060 resend-message
bind $my_menu H_0061 select-next-new-entry
bind $my_menu H_0062 select-next-new-or-unread-entry
bind $my_menu H_0063 select-next-undeleted-entry
bind $my_menu H_0064 select-next-unread-entry
bind $my_menu H_0065 select-next-unread-mailbox
bind $my_menu H_0066 select-previous-new-entry
bind $my_menu H_0067 select-previous-new-or-unread-entry
bind $my_menu H_0068 select-previous-undeleted-entry
bind $my_menu H_0069 select-previous-unread
bind $my_menu H_0070 select-previous-unread-mailbox
bind $my_menu H_0071 send-pgp-key
bind $my_menu H_0072 set-flag
bind $my_menu H_0073 show-mailboxes
bind $my_menu H_0074 show-sender-address
bind $my_menu H_0075 sync-mailbox
bind $my_menu H_0076 toggle-important-flag
bind $my_menu H_0077 toggle-mailbox-readonly
bind $my_menu H_0078 toggle-new-flag
bind $my_menu H_0079 toggle-read-messages
bind $my_menu H_0080 undelete-message
bind $my_menu H_0081 undelete-pattern
bind $my_menu H_0082 undelete-subthread
bind $my_menu H_0083 undelete-thread
bind $my_menu H_0084 unset-flag
bind $my_menu H_0085 vfolder-create-from-query
bind $my_menu H_0086 vfolder-create-from-query-readonly
bind $my_menu H_0087 vfolder-reset-window
bind $my_menu H_0088 vfolder-shift-window-back
bind $my_menu H_0089 vfolder-shift-window-forward
bind $my_menu H_0090 view-address-query
bind $my_menu H_0091 view-aliases
bind $my_menu H_0092 view-attachments
bind $my_menu H_0093 view-autocrypt-accounts
bind $my_menu H_0094 view-list-actions

# vim: ft=neomuttrc
