name: Coveralls

on:
  schedule:
    - cron: '20 3 * * 1'
      # Mondays at 03:20
  workflow_dispatch:

jobs:
  build:
    name: Coverage
    runs-on: ubuntu-latest
    container: ghcr.io/neomutt/docker-build

    env:
      OPTIONS: --coverage --autocrypt --bdb --full-doc --gdbm --gnutls --gpgme --gss --kyotocabinet --lmdb --lua --lz4 --notmuch --qdbm --sasl --tdb --tokyocabinet --with-lock=fcntl --zlib --zstd

    steps:
    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v1
      id: cpu-cores

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Checkout Test Files
      uses: actions/checkout@v3
      with:
        repository: neomutt/neomutt-test-files
        path: test-files

    - name: Set Up Test Files
      run: |
        cd test-files
        ./setup.sh

    - name: Compilation Cache
      uses: hendrikmuhs/ccache-action@v1

    - name: Configure Neomutt
      run: |
        ./configure $OPTIONS

    - name: Build Neomutt
      run: make -j ${{steps.cpu-cores.outputs.count}} neomutt

    - name: Neomutt Version
      run: ./neomutt -v

    - name: Build Tests
      run: make -j ${{steps.cpu-cores.outputs.count}} test/neomutt-test

    - name: Make Coverage
      run: |
        export NEOMUTT_TEST_DIR=$GITHUB_WORKSPACE/test-files
        make coverage
        ls -l coverage.info

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: coverage.info
        format: lcov
