name: macOS

on:
  schedule:
    - cron: '0 4 * * 1'
      # Mondays at 04:00
  workflow_dispatch:

env:
  EXTRA_CFLAGS: "-pipe"

jobs:
  build:
    name: Build on macOS
    runs-on: macos-latest

    steps:
    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v2
      id: cpu-cores

    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Install dependencies
      run: brew install notmuch libidn2 libiconv ncurses lmdb

    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Checkout Test Files
      uses: actions/checkout@v6
      with:
        repository: neomutt/neomutt-test-files
        path: test-files

    - name: Set Up Test Files
      run: |
        cd test-files
        ./setup.sh

    - name: Compilation Cache
      uses: hendrikmuhs/ccache-action@v1

    - name: Configure NeoMutt
      run: ./configure --disable-doc --disable-nls --notmuch --with-notmuch=/opt/homebrew/opt/notmuch --lmdb --zlib --idn2 --with-idn=/opt/homebrew/opt/libidn2 --with-iconv=/opt/homebrew/opt/libiconv --with-ncurses=/opt/homebrew/opt/ncurses

    - name: Build NeoMutt
      run: make -j ${{steps.cpu-cores.outputs.count}} neomutt

    - name: NeoMutt Version
      run: |
        ./neomutt -v
        ./neomutt -h all

    - name: Build Tests
      run: make -j ${{steps.cpu-cores.outputs.count}} test/neomutt-test

    - name: Run Tests
      run: |
        export NEOMUTT_TEST_DIR=$GITHUB_WORKSPACE/test-files
        make test
